* {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    color: #1f2625;
    padding: 25px;
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-image: url(images/Picture1.jpg);
    background-size: cover;
   }
  

nav {
    background-color: #c4e1f2;
    border: solid #d9b36c;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
}

nav a {
    color: #1f2625;
    text-decoration: none;
}

footer {
    border: solid #d9b36c;
    font-size:small;
    background-color: #c4e1f2;
    color: #1f2625;
    padding: 10px;
    text-align: center;
    width: auto;
}

.container {
   max-width: 100%;
   height: auto;
}

#content {
    display: flexbox;
    padding: 10px;
}

.top-images {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.bottom-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.item {
    max-width: 100%;
    height: auto;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #a65353;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}



.item img {
    margin-bottom: 10px;   
}

.item h3 {
    margin: 0;
    font-size: 20px;
}

.item p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.item-a1 {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.item-a2 {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 10px;
}




