* {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    color: #1f2625;
    padding: 25px;
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-image: url(images/Picture1.jpg);
   }
  

nav {
    background-color: #c4e1f2;
    border: solid #d9b36c;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
}

nav a {
    color: #1f2625;
    text-decoration: none;
}

footer {
    border: solid #d9b36c;
    font-size:small;
    background-color: #c4e1f2;
    color: #1f2625;
    padding: 10px;
    text-align: center;
    width: auto;
    height: auto;
}

#content {
    padding: 10px;
}

.top-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottom-images {
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
}

.item {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #a65353;
    padding: 10px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item h3 {
    margin: 0;
    font-size: 20px;
}

.item p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.item-a1 {
    float: right;
    padding: 0px 0px 10px 10px;
}

.item-a2 {
    float: left;
    padding: 10px 20px 5px 12px;
}

#left {
    flex: 1;
    padding-right: 10px;
}

#right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

video {
    float: right;
}
