/*
Name: Robert King
Class: WEB200
Assignment: 9.2 bioSite
Date: July 25, 2024
styles.css
Source Credits:
Responsive Navigation & Sidebar: https://www.youtube.com/watch?v=U8smiWQ8Seg
Infinite Carousel: https://codepen.io/rezaminaee/pen/qeqvaP
*/

/* Media Queries */

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {

  .hideOnMobile {
      display: none;
  }
  header nav li.menu-button {
      display: block;
  }
  main .timeline {
    margin: 50px auto;
  }

  main .timeline::after {
    left: 31px;
  }

  main .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  main .text-box {
    width: 50%;
    font-size: 14px;
  }

  main .right-container {
    left: 0;
    margin: 10px auto;

  }

  main .left-container {
    margin: 10px auto;
  }

  main .left-container img, .right-container img {
   display: none;
  }

  main .left-container-arrow, .right-container-arrow {
    border-right: 15px solid #acabab;
    border-left: 0;
    left: -15px;
  }

  main .hero-intro  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align:left;
  }
  main .hero-start .hero1 p {
    font-size: 22px;
    line-height: 1.5em;
  }
  main .hero-intro .hero-intro1 {
    width: 100%;
    background:#d6249f;
  }

  main .hero-intro .hero-intro2 {
    width: 100%;
    background:#d6249f;
  }

}

/* Media Query for about.html Timeline */



/* Media Query for iPads and Tablets */

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hideOnMobile {
      display: none;
  }

  header nav li.menu-button {
      display: block;
  }
}

/* Media Query for Laptops and Small Screens */

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .sidebar {
      width: 100%;
  }
}

/* Media Query for Large Screens and Desktops */

@media only screen and (max-width: 1200px) and (min-width:1025px) {
  .sidebar {
      width: 100%;
  }
}

/* Media Query for TV and Extra Large Screens */

@media only screen and (min-width: 1201px) {
  .sidebar {
      width: 100%;
  }
}

@media print {
  header, nav, iframe, .hero2, .slider, .game, small, a, br, hr, footer {
    display: none;
  }

  .hobbies .game iframe {
    display: none;
  }

}

/* CSS Resets */

body, header, nav, ul, li, a, main, h1, h2, h3, p, section, img, iframe, footer {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Keyframes for Glow Animation */

@keyframes glow {
  0% {
      text-shadow: 0 0 10px rgb(255, 5, 213, 1);
  }

  15% {
      text-shadow: 2px 2px 10px rgb(255, 5, 213, 1),
      -2px -2px 10px rgb(255, 5, 213, 1);
  }

  30% {
      text-shadow: 2px 2px 4px rgb(255, 5, 213, .7),
      -2px -2px 4px rgb(255, 5, 213, .7);
  }

  50% {
      text-shadow: 20px 20px 30px rgb(255, 5, 213, .5),
      -20px -20px 30px rgb(25, 226, 216, .5);
  }
}

/*End Logo Glow Animation */

/* Keyframes for Neon Flicker Animation */

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
  text-shadow: 0 0 3px #fff,
              0 0 6px #fff,
              0 0 14px #c32aff,
              0 0 42px #c32aff,
              0 0 82px #c32aff,
              0 0 92px #c32aff,
              0 0 102px #c32aff,
              0 0 151px #c32aff;
  }
  20%, 24%, 55% {
      text-shadow: none;
  }
}

/* End Keyframes for Neon Flicker Animation */

/* Keyframes for Carousel */

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-450px * 18));
  }
}

/* End Keyframes for Carousel */

/* Start Keyframes for about.html Timeline */

@keyframes moveline {
  0% {
      height: 0;
  }
  100% {
      height: 100%;
  }
}

@keyframes movedown {
  0% {
      opacity: 1;
      transform: translateY(-30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

/* End Keyframes for about.html Timeline */

/* Start index.html Styles */

/* Body Styles */

body {
  min-height: 100%;
  scroll-behavior: smooth;
}

/* Responsive Image Applied to Body index.html */

.index {
  min-height: 100dvh;
  background-image: url('./images/space-bglarge-1024x853.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -999;
}

/* Header Styles */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 2px;
  border-bottom: 3px solid #00000093;
}


/* Header / Navigation Styles */

header nav {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: static;
}

header nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav li {
  height: 50px;
}

header nav li:first-child {
  margin-right: auto;
}

header nav .logo {
  color: #d6249f;
  display: flex;
  text-wrap: nowrap;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "kanit";
  padding-left: 20px;
  margin-top: -15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#ebebea;
  /* Text Shadows for Neon Flicker Animation */
  text-shadow: 0 0 4px #fff,
              0 0 8px #fff,
              0 0 14px #fff,
              0 0 42px #c32aff,
              0 0 82px #c32aff,
              0 0 92px #c32aff,
              0 0 102px #c32aff,
              0 0 151px #c32aff;
  animation: flicker 3s infinite alternate;
}

/* Link Default Settings */

a {
  padding: 0 50px;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #b702ff;
  font-weight: 800;
  font-size: 30px;
  font-family: "teko";
  -webkit-text-stroke: 1px #000000ad;
}

a:hover {
  color: #ff00ae;
  transition: .5s ease;
  text-shadow: -5px 10px 8px #b702ff;
  animation: glow 3s;
  -webkit-text-stroke: 1px #ebebea;
}


/* End Header / Navigation Styles */

/* Responsive Sidebar Menu */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  background-color: #000000;
  backdrop-filter: blur(4px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

/* End Responsive Sidebar Menu */

/* Main Styles */

main {
  display: block;
  padding-top: 75px;
}

/* Main .hero-start, .hero1, .hero2, .hero3 Styles */

main .hero-start {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-content: space-evenly;
  margin-top: 0;
  padding-bottom: 25px;
}

main .hero-start span {
  margin-bottom: auto;
}

main .hero-start span p {
  line-height: 3rem;
  margin-left: 10%;
}

/* Main .hero1 Styles */

main .hero-start .hero1 {
  position: relative;
  font-size: 30px;
  font-weight: 800;
  font-family: "oswald";
  background: linear-gradient(45deg, #d6249f, #c32aff, #285AEB, #000);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-stroke: 1px #ebebea;
  text-shadow: -5px 10px 8px #000;
  line-height: 3.5rem;
  padding-bottom: 25px;
}

main .hero-start .hero1 h1 {
 font-size: 34px;
}

main .hero-start .hero1 .quote {
  font-size: 24px;
}

/* Main .hero2 Styles */

main .hero-start .hero2 {
  align-items: center;
  justify-content: center;
}

main .hero-start .hero-img2 {
  width: 190px;
}

main .hero-start .hero2 img {
  display: flex;
  position: relative;
  border: 5px groove #b702ff;
  border-radius: 20px;
  margin: 15px;
}

/* Main .hero3 Styles */

main .hero-start .hero3 {
  color: #fff;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: 800;
  font-family: "oswald";
  background: linear-gradient(45deg, #d6249f, #c32aff, #285AEB, #000);
  -webkit-text-fill-color: transparent;
  text-shadow: -5px 10px 8px #000;
  background-clip: text;
  -webkit-text-stroke: 1px #ebebea;
  padding-top: 25px;
  line-height: 3.5rem;
  text-align: center;
}

/* Main .hero-middle, .slider, .slide-track, .slide Styles */

main .hero-middle {
/* The image used / color / gradient */
  background: #00000093;
/* Set a specific height */
  min-height: 250px;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

main .mid {
  height: 250px;
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-top: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  margin: auto;
  overflow: hidden;
}

main .hero-middle h1, h2 {
  text-align: center;
  padding-top: 1%;
  font-family: "kanit";
  background: linear-gradient(45deg, #d6249f, #c32aff, #285AEB, #000);
  -webkit-text-fill-color: transparent;
  text-shadow: -5px 10px 8px #000;
  background-clip: text;
  -webkit-text-stroke: 1px #ebebea;
  text-wrap: wrap;
}

main .hero-middle h2 {
  font-size: 30px;
}

/* Animated Carousel Start */

.slider {
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  padding-top: 5%;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 180s linear infinite;
  display: flex;
  width: calc(450px * 18);
  text-align: center;
}

.slider .slide-track h2 {
  padding-top: 40px;
  font-size: 48px;
  font-family: "teko";
  font-weight: 800;
  text-shadow: -5px 10px 8px #000;
  background-clip: text;
  -webkit-text-stroke: 1px #fff;

}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  height: 150px;
  width: 450px;
  border: 3px solid #000;
}


.slide:nth-child(1), .slide:nth-child(10) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

.slide:nth-child(2), .slide:nth-child(11) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

.slide:nth-child(3), .slide:nth-child(12) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

.slide:nth-child(4), .slide:nth-child(13) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

.slide:nth-child(5), .slide:nth-child(14) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

.slide:nth-child(6), .slide:nth-child(15) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

.slide:nth-child(7), .slide:nth-child(16) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

.slide:nth-child(8), .slide:nth-child(17) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

.slide:nth-child(9), .slide:nth-child(18) {
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
}

/* Animated Carousel End */

/* Main .hero-end Styles */

main .hero-end {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  margin: auto;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main .hero-end h1 {
  font-size: 48px;
  font-family: "oswald";
  font-weight: 700;
  color:#d6249f;
  -webkit-text-stroke-color:#ebebea;
  -webkit-text-stroke-width: 1px;
  padding-bottom: 25px;
}

main .hero-end h1 a {
  text-align: center;
  display: block;
  font-size: 48px;
  text-decoration: none;
  color:#b702ff;
  text-shadow: -5px 10px 8px #b702ff;
  animation: flicker 3s infinite;
}

main .hero-end h1 a:hover {
  color: #ff00ae;
  transition: .5s ease;
  font-size: 48px;
  font-weight: 800;
  text-shadow: -5px 10px 8px #b702ff;
  animation: glow 3s;
  -webkit-text-stroke: 1px #ebebea;

}



main .hero-intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
}

main .hero-intro1 {
  display: block;
  width: 50%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
  border: 5px solid #285AEB;
  border-radius: 10px;
  border-style: double;
  padding: 10px 10px;
  margin: 10px 10px;
}

main .hero-intro1 p {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px 15px;
  font-family: "oswald";
  text-indent: 20px;
  line-height: 1.8em;
}

main .hero-intro2 {
  display: block;
  width: 50%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(345deg,#c32aff, #285AEB, #d6249f, #ff10f0);
  border: 5px solid #285AEB;
  border-radius: 10px;
  border-style: double;
  padding: 10px 10px;
  margin: 10px 10px;
}

main .hero-intro2 p {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px 15px;
  font-family: "oswald";
  text-indent: 20px;
  line-height: 1.8em;
}


/* End Main Styles */

/* Footer Styles */

footer {
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-top: 3px solid #00000093;
}

footer .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-content: center;
  align-items: center;
  gap: 10px;
}

footer ul {
  list-style: none;
  color: #fff;
}

footer ul li {
  text-align: center;
}


.icons1 {
  display:flex;
}

.icons2 {
  display: flex;
}

.footer3 li a {
  font-size: 18px;
}

/* End Footer Styles */

/* Social Media Icon Styles */

footer .facebook {
  color: #3b5998;
  font-size: 24px;
  padding: 5px 20px;
}

footer .facebook:hover {
  transition: .5s ease;
  text-shadow: -5px 5px 8px #537dd8;
}

footer .instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 24px;
  padding: 5px 20px;
}

footer .instagram:hover {
  transition: .5s ease;
  text-shadow: -5px 3px 8px #cc6b64;
}

footer .tiktok {
  font-size: 24px;
  padding: 5px 20px;
  color: #111111;
  filter: drop-shadow(1px 0px 0px #fd3e3e) drop-shadow(-1px -1px 0px #4de8f4);
}

footer .tiktok:hover {
  transition: .5s ease;
  text-shadow: -5px 3px 4px #3e6366;
}

footer .snapchat {
  font-size: 24px;
  padding: 5px 20px;
  background: #fffc00;
  background: linear-gradient(to right, #fffc00, #fff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

footer .snapchat:hover {
  transition: .5s ease;
  text-shadow: -5px 3px 4px #5e5d3c;
}

/* End Social Media Icon Styles */

/* End index.html Styles */

/* Start hobbies.html Styles */

.hobbies {
  min-height: 100dvh;
  background-image: url('./images/ai-generated-boatjourneybg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -999;
}

main .about-intro p {
  position: relative;
  font-size: 32px;
  font-weight: 800;
  font-family: "oswald";
  background: linear-gradient(45deg, #d6249f, #c32aff, #285AEB, #000);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-stroke: 1px #ebebea;
  text-shadow: -5px 10px 8px #000;
  line-height: 3.5rem;
  padding-bottom: 25px;
  padding-left: 5%;
  text-indent: 50px;
}

main .gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0;
  padding-bottom: 25px;
}

main .gallery .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

main .gallery img {
  height: 400px;
  border: 3px groove #d6249f;
  border-radius: 15px;
  box-shadow: 4px 3px 8px #c32aff;
  padding: 1px 1px;
}

main .gallery figcaption {
  color:#fff;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "oswald";
  font-size: 16px;
}

.hobbies  h1, h2, h3 {
  width: 100%;
  text-align: center;
  padding-top: 1%;
  font-family: "kanit";
  background: linear-gradient(45deg, #d6249f, #c32aff, #285AEB, #000);
  -webkit-text-fill-color: transparent;
  text-shadow: -5px 10px 8px #000;
  background-clip: text;
  -webkit-text-stroke: 1px #ebebea;
  text-wrap: wrap;
}

main .game {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

main .game .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .game iframe {
  display: flex;
  flex-wrap: wrap;
  margin-left: 11.5%
}

main .music {
  width: 100%;
}

main .music iframe {
  opacity: .8;
  box-shadow: 1px 2px 2px #c32aff;
  border: 3px solid #ff00ae;
}

main .music1 iframe {
  width: 100%;
}

main .music2 iframe {
  width: 100%;
  margin-bottom: 25px;
}


main .movie .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

main .book {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-content: space-evenly;
  margin-top: 0;
  padding-bottom: 25px;
}

main .book .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

main .music h2 {
  font-size: 28px;
}

main .movie h2 {
  font-size: 28px;
}

main .book h2 {
  font-size: 28px;
}

/* End hobbies.html Styles */

/* Start about.html Styles */

.about {
  min-height: 100dvh;
  background-image: url('./images/universe-bglarge.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -999;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 10px auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #d6249f;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline 6s linear forwards;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 49%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

.container:nth-child(1){
  animation-delay: 0s;
}

.container:nth-child(2){
  animation-delay: 1s;
}

.container:nth-child(3){
  animation-delay: 2s;
}

.container:nth-child(4){
  animation-delay: 3s;
}

.container:nth-child(5){
  animation-delay: 4s;
}

.container:nth-child(6){
  animation-delay: 5s;
}

.container:nth-child(7){
  animation-delay: 6s;
}

.container:nth-child(8){
  animation-delay: 7s;
}

.text-box {
  padding: 20px 30px;
  background: #acabab;
  position: relative;
  border: 3px groove #c32aff;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  font-family: "kanit";
  background-image: url('./images/spacebg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
  color: #fff;
}

main .text-box h2 {
  font-family: "kanit";
}

.left-container {
  left: 0%;
  padding: 0;
  margin: -4px;
}

.right-container {
  left: 51%;
  padding: 0;
  margin: 5px;
}

.container img {
  position: absolute;
  top: 10px;
  z-index: 10;
  border: 4px groove #d6249f;
  border-radius: 25px;
  transition: transform .5s;
}

.image1 {
  height: 150px;
  right: -150px;
}

.image2 {
  position: relative;
  left: -170px;
  height: 150px;
  margin-top: 10px;
}

.image3 {
  height: 200px;
  right: -245px;
  margin-top: 20px;
  margin-left: 15px;
}

.image4 {
  height: 200px;
  left: -190px;
  margin-top: 10px;
}

.image5 {
  height: 200px;
  right: -140px;
}

.image6 {
  height: 200px;
  left: -140px;
}

.image7 {
  height: 200px;
  right: -140px;
}

.image8 {
  height: 200px;
  left: -190px;
}

.text-box h2 {
  font-weight: 800;
  font-family: "teko";
}



.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #c32aff;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #c32aff;
  left: -15px;
}

/* End about.html Styles */

